@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Preahvihear&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Preahvihear', sans-serif;
}
body{
    background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.uppernav{
    display: flex;
    align-items: center;
    margin: 1em;
}
.navbar{
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    border: 0.1em solid black;
    border-radius: 9em;
}
.leftnav>p{
    font-weight: 600;
    font-size: large;
}
.rightnav>ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: medium;
    justify-content: space-between;
}
.rightnav > ul >li{
    margin: 0 2rem;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.mainBody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectBody{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 2%;
    padding: 0;
    background-color: #0093E9;
    background-image: linear-gradient(150deg,#0093E9 0%, #3838b2 33% , #4f50cd 66% , #0f07d7 100%);
    border-radius: 3em;
    box-shadow: 1.4em 1em 3em -5px rgba(203, 7, 7, 0.788);
}
.leftBody{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.rightBody{
    height: 85%;
    width: 80%;
}
#myPhoto{
    height: 100%;
    width: 100%;
    border-radius: 2em;
    align-items: center;
    margin: 3em;
}
.leftBody>p{
    text-align: center;
}
.myResume{
    background-image: linear-gradient(to right, #FF512F 0% , #DD2476 51% , #FF512F 100%);
    margin: 5em;
    padding: 0.7em 3em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 2em #eee;
    border-radius: 10em;
    display: block;
}
.myResume:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.SkillTag{
    margin-top: 2em;
    padding: 10em;
    background-color: #07d72d90;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
/* .biggerSkill{
    display: flex;
    justify-content: center;
}  */
.skillSection{
    padding: 3em;
    display: grid;
    row-gap: 3em;
    column-gap: 3em;
    
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
}
#skillls{
    height: 90%;
    width: 100%;
}
.skill{
    background-color: white;
    height: 12em;
    width: 10em;
    display: grid;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 4em 1em 9em -5em rgba(0,0,0,0.1);
}
.skillProject{
    padding: 3em;
    display: grid;
    row-gap: 3em;
    column-gap: 3em;
    
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.project{
    background-color: white;
    height: 13em;
    width: 20em;
    display: grid;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 4em 1em 9em -15px rgba(0,0,0,0.1);
}

.biggerFotter{
    background-color: rgba(0, 0, 0, 0.589);
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#social{
    height: 8vh;
}
.socialMedia{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
form{
    display: flex;
    flex-direction: column;
}
